/* ******GENERAL STYLING ***** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}



/* **********NAVBAR STYLING*********** */
nav{
    margin: 0;
    padding: 0;
    border: 2px solid red;
}

nav > ul {
    display: flex;
    justify-content: flex-end;
}
nav ul > li{
    list-style-type: none;
}
nav ul li > .nav-item{
    color: white;
    font-size: 2rem;
    margin: 5px;
    text-decoration: none;
    cursor: pointer;
}

